<h1>Main#welcome</h1>
<p>Click on a compser's name to see all of that composer's works.</p>
<ul>
  <% @composers.each do |composer| %>
  <li><%= link_to "composer.name",
    :controller => "composer",
    :action => "show",
    :id => composer.id %>
  </li>
  <% end %>
</ul>